################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/LieDetector
/LieDetector/bin/Debug/resultat/fragmentation
/LieDetector/bin/Debug/resultat/visages
/LieDetector/bin/Debug/resultat - Copie/fragmentation/video1
/LieDetector/bin/Debug/resultat - Copie/visages/video1
/BLL/bin/Debug
/BLL/obj/Debug
/LieDetector/bin/Debug
/LieDetector/obj/Debug
/packages
